{% extends 'base-card.html.twig' %}

{% block title %}Log in! - Repman{% endblock %}

{% block card %}
<form class="card" method="post">
    <div class="card-body p-6">
        <div class="card-title">Login to your account</div>

        {% include 'component/flash.html.twig' %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% if oauth_enabled() %}
            <div class="text-center">
                {% if oauth_enabled('github') %}
                    <a href="{{ url('auth_github_start') }}" class="btn btn-github btn-sm">
                        {% include 'svg/github-icon.svg' %} GitHub
                    </a>
                {% endif %}

                {% if oauth_enabled('gitlab') %}
                    <a href="{{ url('auth_gitlab_start') }}" class="btn btn-orange btn-sm">
                        {% include 'svg/gitlab-icon.svg' %} GitLab
                    </a>
                {% endif %}

                {% if oauth_enabled('bitbucket') %}
                    <a href="{{ url('auth_bitbucket_start') }}" class="btn btn-bitbucket btn-sm">
                        {% include 'svg/bitbucket-icon.svg' %} Bitbucket
                    </a>
                {% endif %}

                {% if oauth_enabled('buddy') %}
                    <a href="{{ url('auth_buddy_start') }}" class="btn btn-dark btn-sm">
                        <img alt="Buddy" src="https://app.buddy.works/icons/favicon.png" class="icon" />
                        Buddy
                    </a>
                {% endif %}
            </div>

            <hr />

            {% if localLoginEnabled %}
                <div class="text-center"><small>or sign in with e-mail</small></div>
            {% endif %}
        {% endif %}

        {% if localLoginEnabled %}
            <div class="mb-2">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Enter email" required autofocus>
            </div>
            <div class="mb-2">
                <a href="{{ path('app_send_reset_password_link') }}" class="float-right small">I forgot password</a>
                <label for="inputPassword" class="form-label">
                    Password
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required autocomplete="off">
            </div>

            <div class="mb-2">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="_remember_me"/>
                    <span class="custom-control-label">Remember me</span>
                </label>
            </div>

            <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {% endif %}
    </div>
</form>
{% include 'component/signUpLink.html.twig' %}
{% endblock %}
