{% extends 'base.html.twig' %}

{% block header %}Add a new package{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="type" class="form-label mt-2 required">
                                    Repository type
                                    {% include 'component/docsLink.html.twig' with {'article': 'private-packages'} %}
                                </label>
                                {{ form_widget(form.type) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                            {% if form.url is defined %}
                                <label for="url" class="form-label mt-2 required">
                                    {% if form.url.vars.label == 'url' %}
                                        Repository URL
                                        {% include 'component/docsLink.html.twig' with {'article': 'private-packages/#vcs-packages'} %}
                                    {% elseif form.url.vars.label == 'path' %}
                                        Package path
                                        {% include 'component/docsLink.html.twig' with {'article': 'private-packages/#path'} %}
                                    {% elseif form.url.vars.label == 'artifact' %}
                                        Artifact path
                                        {% include 'component/docsLink.html.twig' with {'article': 'private-packages/#artifact'} %}
                                    {% endif %}
                                </label>
                                {{ form_widget(form.url) }}
                            {% endif %}
                            {% if form.repositories is defined %}
                                <label for="repositories" class="form-label mt-2 required">
                                    Repository
                                </label>
                                {{ form_widget(form.repositories) }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>{% include 'component/js/addPackage.js' %}</script>
{% endblock %}
