{% extends "base.html.twig" %}

{% block header %} {{ organization.name }} overview:{% endblock %}

{% block header_btn %}
    <a href="{{ url('organizations_stats', {"organization":organization.alias}) }}" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="12" y1="20" x2="12" y2="10"></line><line x1="18" y1="20" x2="18" y2="4"></line><line x1="6" y1="20" x2="6" y2="16"></line></svg>
        Package installs
    </a>
{% endblock %}

{% block content %}
    <div class="markdown">
        {% if organization.token %}
            <p>Configure authentication globally to access this organization packages:</p>
        <div class="highlight"><pre>
composer config --global --auth http-basic.{{ url('organization_repo_url', {organization: organization.alias}, true) | trim('/') }} token <span class="token d-none">{{ organization.token }}</span><button class="btn btn-primary btn-sm show-token">Show token</button></pre></div>
            <p>Then add this lines to your composer.json file (or add new repository url if you already have one or more):</p>
            <div class="highlight">
        <pre>
{
    "repositories": [
        {"type": "composer", "url": "{{ url('organization_repo_url', {organization: organization.alias}) | trim('/') }}"}
    ]
}</pre></div>

            <p>And then update composer.lock file:</p>

            <div class="highlight">
        <pre>
composer update mirrors</pre></div>

        {% else %}
            Missing authentication tokens,
            <a class="btn btn-primary" href="{{ path('organization_token_new', {organization: organization.alias}) }}">
                generate new token
            </a> to allow users to access your organization packages
        {% endif %}
    </div>
    <script type="text/javascript">
        window.onload = function() {
            $('.show-token').click(function(){
                $(this).parent().find('span.token').removeClass('d-none');
                $(this).remove();
            });
        };
    </script>
{% endblock %}
