{% extends "base.html.twig" %}

{% block header_btn %}
    {% if is_granted('ROLE_ORGANIZATION_OWNER', organization) %}
        <a href="{{ url('organization_package_new', {"organization":organization.alias}) }}" class="btn btn-success">
            {% include 'svg/plus-square.svg' %} Add package
        </a>
    {% endif %}
{% endblock %}
{% block header %} {{ organization.name }} packages:{% endblock %}

{% block content %}

<div class="markdown">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Latest version</th>
                <th>Released</th>
                <th>Description</th>
                {% if is_granted('ROLE_ORGANIZATION_MEMBER', organization) %}
                    <th>Webhook</th>
                    <th>Security</th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr>
                    <td>
                        {% if package.name %}
                            <strong>
                                <a href="{{ path('organization_package_details', {organization: organization.alias, package: package.id}) }}">
                                    {{ package.name }}
                                </a>
                            </strong><br />
                            <small class="font-italic" style="font-size: 0.7em"><a href="{{ package.url }}" target="_blank" rel="nofollow noopener noreferrer">
                                {{ package.url }}
                            </a></small><br />
                            <small class="font-italic" style="font-size: 0.7em" title="{{ package.lastSyncAt | date('Y-m-d H:i:s') }}">synced: {{ package.lastSyncAt | time_diff }}</small>
                        {% elseif package.lastSyncError is null %}
                            Synchronizing from <a href="{{ package.url }}" target="_blank" rel="nofollow noopener noreferrer">
                                {{ package.url }}
                            </a>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-indeterminate"></div>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ package.latestReleasedVersion }}</td>
                    <td>
                        {% if package.latestReleaseDate %}
                            <span title="{{ package.latestReleaseDate | date('Y-m-d H:i:s') }}">{{ package.latestReleaseDate | time_diff }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if package.lastSyncError %}
                            <div class="badge bg-danger">Synchronization error</div>
                            <small class="font-italic" style="font-size: 0.7em" title="{{ package.lastSyncAt | date('Y-m-d H:i:s') }}">{{ package.lastSyncAt | time_diff }}</small>
                            <div class="highlight p-3 font-monospace" style="font-size: 0.6em;">
                                {{ package.lastSyncError | nl2br }}
                            </div>
                        {% else %}
                            {{ package.description }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ORGANIZATION_MEMBER', organization) %}
                        <td class="text-center">
                            {% if package.webhookCreatedAt is not empty %}
                                <span class="font-weight-bold" title="{{ package.webhookCreatedAt | date('Y-m-d H:i:s') }}">created</span>
                            {% else %}
                                <small>N/A</small>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if package.isSynchronizedSuccessfully %}
                                <a
                                    href="{{ path('organization_package_scan_results', {organization: organization.alias, package: package.id}) }}"
                                    data-content="{% apply escape %}{% include 'organization/package/scanResultContent.html.twig' with {'result': package.lastScanResultContent, 'simple': true} %}{% endapply %}"
                                    data-title="{{ package.scanResultDate|time_diff }}"
                                    data-toggle="scan-result-popover"
                                >
                                    {% if package.isScanResultOk %}
                                        <span class="badge badge-success">{{ package.scanResultStatus }}</span>
                                    {% elseif package.isScanResultPending or package.isScanResultNotAvailable %}
                                        <span class="badge badge-warning">{{ package.scanResultStatus }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ package.scanResultStatus }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <span class="dropdown ml-1">
                                <button class="btn btn-secondary dropdown-toggle align-text-top" data-toggle="dropdown">Actions</button>
                                <div class="dropdown-menu">
                                {% if package.name %}
                                    <a href="{{ path('organization_package_details', {organization: organization.alias, package: package.id}) }}" class="dropdown-item">
                                        {% include 'svg/package.svg' %} Details
                                    </a>
                                    <a href="{{ path('organization_package_stats', {organization: organization.alias, package: package.id}) }}" class="dropdown-item">
                                        {% include 'svg/bar-chart.svg' %} Statistics
                                    </a>
                                    <a href="{{ path('organization_package_webhook', {organization: organization.alias, package: package.id}) }}" class="dropdown-item">
                                        {% include 'svg/link.svg' %} Webhook
                                    </a>
                                {% endif %}
                                {% if package.isSynchronizedSuccessfully %}
                                    <a
                                        class="dropdown-item"
                                        data-target="confirmation"
                                        data-action="{{ path('organization_package_scan', {organization: organization.alias, package: package.id }) }}"
                                        data-method="POST"
                                        href="#"
                                        >
                                            {% include 'svg/shield.svg' %} Scan
                                    </a>
                                {% endif %}
                                {% if package.name or package.lastSyncError %}
                                    <a
                                        class="dropdown-item"
                                        data-target="confirmation"
                                        data-action="{{ path('organization_package_update', {organization: organization.alias, package: package.id }) }}"
                                        data-method="POST"
                                        href="#"
                                        >
                                            {% include 'svg/refresh.svg' %} Update
                                    </a>
                                    {% if is_granted('ROLE_ORGANIZATION_OWNER', organization) %}
                                        <a
                                            class="dropdown-item"
                                            data-target="confirmation"
                                            data-action="{{ path('organization_package_remove', {organization: organization.alias, package: package.id }) }}"
                                            data-method="DELETE"
                                            href="#"
                                            >
                                                {% include 'svg/trash.svg' %} Remove
                                        </a>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">no packages added</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'component/pagination.html.twig' with {'path_name': 'organization_packages', 'path_params': {'organization': organization.alias}} %}
</div>
{% endblock %}

{% block javascripts %}
<script>
    (function() {
        $('[data-toggle="scan-result-popover"]').popover({
            trigger: 'hover',
            placement: 'left',
            html: true
        });
    })();
</script>
{% endblock %}
