{% extends "base.html.twig" %}

{% block header_btn %}
<a href="{{ url('organization_package_new', {"organization":organization.alias}) }}" class="btn btn-success">Add package</a>
{% endblock %}
{% block header %} {{ organization.name }} packages:{% endblock %}

{% block content %}

<div class="markdown">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Released</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr>
                    <td>
                        {% if package.name %}
                            <strong>{{ package.name }}</strong><br />
                            <small class="font-italic" style="font-size: 0.7em">{{ package.url }}</small><br />
                            <small class="font-italic" style="font-size: 0.7em" title="{{ package.lastSyncAt | date('Y-m-d H:i:s') }}">synced: {{ package.lastSyncAt | time_diff }}</small>
                        {% elseif package.lastSyncError is null %}
                            Synchronizing from {{ package.url }}
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-indeterminate"></div>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ package.latestReleasedVersion }}</td>
                    <td>
                        {% if package.latestReleaseDate %}
                            <span title="{{ package.latestReleaseDate | date('Y-m-d H:i:s') }}">{{ package.latestReleaseDate | time_diff }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if package.lastSyncError %}
                            <div class="badge bg-danger">Synchronization error</div>
                            <div class="highlight p-3 font-monospace" style="font-size: 0.6em;">
                                {{ package.lastSyncError | nl2br }}
                            </div>
                        {% else %}
                            {{ package.description }}
                        {% endif %}
                    </td>
                    <td>
                        {% if package.name or package.lastSyncError %}
                            <button
                                class="btn btn-warning btn-sm"
                                type="button"
                                data-target="confirmation"
                                data-action="{{ path('organization_package_update', {organization: organization.alias, package: package.id }) }}"
                                data-method="POST"
                            >
                                Update
                            </button>
                            <button
                                class="btn btn-danger btn-sm"
                                type="button"
                                data-target="confirmation"
                                data-action="{{ path('organization_package_remove', {organization: organization.alias, package: package.id }) }}"
                                data-method="DELETE"
                            >
                                Remove
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'component/pagination.html.twig' with {'path_name': 'organization_packages'} %}
</div>
{% endblock %}
