{% extends 'base.html.twig' %}

{% set days = days ?? 30 %}

{% block header %}{{ organization.name }} package installs (last {{ days }} days){% endblock %}

{% block header_btn %}
    <select class="form-control period-select selectpicker" data-style="btn-secondary">
        <option {{ days == 7 ? 'selected="selected"' : '' }} value="7">last 7 days</option>
        <option {{ days == 30 ? 'selected="selected"' : '' }} value="30">last 30 days</option>
        <option {{ days == 90 ? 'selected="selected"' : '' }} value="90">last 90 days</option>
        <option {{ days == 365 ? 'selected="selected"' : '' }} value="365">last year</option>
    </select>
{% endblock %}

{% block content %}
    <div id="chart-installs" ></div>

    <hr />

    <h3>Summary:</h3>
    <p>
        Today installs: <span class="number-format">{{ (installs.days | last).installs }}</span><br />
        Last {{ days ?? 30 }} days installs: <span class="number-format">{{ installs.daysTotal }}</span><br />
        <strong>Total installs: <span class="number-format">{{ installs.total }}</span></strong>
    </p>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('dist/js/apexcharts.min.js') }}"></script>
{% include 'component/js/stats.js.twig' %}
{% endblock %}
