{% extends 'base-card.html.twig' %}

{% block title %}Register - Repman{% endblock %}

{% block card %}
    <div class="card">
        <div class="card-body p-6">

            {% include 'component/flash.html.twig' %}

            <div class="card-title text-center">Sign up for free</div>

            {% if oauthRegistrationEnabled and oauth_enabled() %}
                <div class="text-center">
                    {% if oauth_enabled('github') %}
                        <a href="{{ url('register_github_start') }}" class="btn btn-github btn-sm">
                            {% include 'svg/github-icon.svg' %} GitHub
                        </a>
                    {% endif %}

                    {% if oauth_enabled('gitlab') %}
                        <a href="{{ url('register_gitlab_start') }}" class="btn btn-orange btn-sm">
                            {% include 'svg/gitlab-icon.svg' %} GitLab
                        </a>
                    {% endif %}

                    {% if oauth_enabled('bitbucket') %}
                        <a href="{{ url('register_bitbucket_start') }}" class="btn btn-bitbucket btn-sm">
                            {% include 'svg/bitbucket-icon.svg' %} Bitbucket
                        </a>
                    {% endif %}

                    {% if oauth_enabled('bitbucket') %}
                        <a href="{{ url('register_buddy_start') }}" class="btn btn-dark btn-sm">
                            <img src="https://app.buddy.works/icons/favicon.png" class="icon" />
                            Buddy
                        </a>
                    {% endif %}
                </div>

                <hr />

                {% if localRegistrationEnabled %}
                    <div class="text-center"><small>or sign up with e-mail</small></div>
                {% endif %}
            {% endif %}

            {% if localRegistrationEnabled %}
                {{ form(registrationForm) }}
            {% endif %}

            <div class="text-center mt-5">
                <small>By creating an account you agree to our <a href="https://repman.io/terms-of-service/" target="_blank" rel="noopener noreferrer">Terms & Conditions</a>.</small>
            </div>
        </div>
    </div>
    <div class="text-center text-muted">
        Already have an account? <a href="{{ url('app_login') }}">Sign in</a>
    </div>
{% endblock %}
