{% macro anonymousIcon(subject) %}
    {% if subject.hasAnonymousAccess %}
        <span data-toggle="tooltip" data-placement="bottom" title="Organization with anonymous access">
            {% include 'svg/unlock.svg' %}
        </span>
    {% endif %}
{% endmacro %}

{% import _self as icons %}

{% if app.user %}
    {% if app.user.belongsToAnyOrganization %}
        <div class="dropdown">
            <a href="#" data-toggle="dropdown"
               class="align-items-center ml-2 btn btn-secondary">
                <span class="d-none d-sm-block lh-1">
                    {% if organization is defined %}
                        {{ icons.anonymousIcon(organization) }} {{ organization.name }}
                    {% else %}
                        Select organization
                    {% endif %}
                </span>
                <span class="ml-2 d-block d-sm-none">
                    {% include 'svg/briefcase.svg' %}
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow">
                {% for org in app.user.organizations %}
                    <a class="dropdown-item" href="{{ url('organization_overview', {"organization": org.alias}) }}">
                        {{ icons.anonymousIcon(org) }} {{ org.name }}
                    </a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn" href="{{ url('organization_create')}}">
                    {% include 'svg/plus-square.svg' %} Create a new organization
                </a>
            </div>
        </div>
    {% endif %}
    <ul class="nav navbar-menu align-items-center ml-auto">
        <li class="nav-item dropdown">

                <a href="#" data-toggle="dropdown"
                   class="nav-link d-flex align-items-center py-0 px-lg-0 px-2 text-reset ml-2">
                    <span class="avatar avatar-sm">
                        {% include 'svg/user.svg' %}
                    </span>
                    <span class="ml-2 d-none d-lg-block lh-1">
                        {{ app.user.userIdentifier }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="text-muted d-block mt-1 text-h6">Administrator</span>
                        {% endif %}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ url('admin_dist_list', {proxy: 'packagist.org'})}}">
                            {% include 'svg/package.svg' %} Proxy packages
                        </a>
                        <a class="dropdown-item" href="{{ url('admin_proxy_stats')}}">
                            {% include 'svg/bar-chart.svg' %} Proxy statistics
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url('admin_organization_list')}}">
                            {% include 'svg/briefcase.svg' %} Organizations
                        </a>
                        <a class="dropdown-item" href="{{ url('admin_user_list')}}">
                            {% include 'svg/users.svg' %} Users
                        </a>
                        <a class="dropdown-item" href="{{ url('admin_stats')}}">
                            {% include 'svg/bar-chart.svg' %} Statistics
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url('admin_config')}}">
                            {% include 'svg/sliders.svg' %} Configuration
                        </a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url('user_profile') }}">
                        {% include 'svg/user.svg' %} Profile
                    </a>
                    <a class="dropdown-item" href="{{ url('user_api_tokens') }}">
                        {% include 'svg/lock.svg' %} API tokens
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url('app_logout') }}">
                        {% include 'svg/log-out.svg' %} Sign out
                    </a>
                </div>

        </li>
    </ul>
{% else %}
    <div class="ml-auto">
        <a href="{{ url('app_login') }}" class="btn btn-secondary">Login</a>
        <a href="{{ url('app_register') }}" class="btn btn-info">Register</a>
    </div>
{% endif %}
