<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta http-equiv="Content-Language" content="en"/>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>
        <title>{% block title %}Repman - PHP Repository Manager{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/css/tabler.min.css') }}">
        {% endblock %}
    </head>
    {% block body %}
    <body class="antialiased">
    <div class="wrapper">
        <div class="content">
            <header class="topnav">
                <div class="container">
                    <div class="navbar navbar-expand-lg navbar-light">
                        <a href="{{ path('index') }}" class="navbar-brand mr-4">
                            <h2 class="d-inline">Repman</h2>
                            <small>PHP Repository Manager</small>
                        </a>
                        {% block user %}
                            {% include 'component/user.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </header>
            {% block menu %}
            <header class="topnav">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <ul class="navbar-nav flex-wrap">
                            {% if organization is defined %}
                                <li class="nav-item">
                                    <span class="nav-link font-weight-bold">{{ organization.name }}:</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url('organization_overview', {"organization":organization.alias}) }}">
                                        Overview
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url('organization_packages', {"organization":organization.alias}) }}">
                                        Packages
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('index') }}">
                                    <span class="nav-icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    </span>
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('packages_list') }}">
                                    <span class="nav-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                                    </span>
                                        Proxy packages
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </header>
            {% endblock menu %}
            <div class="content-page">
                <main class="container my-4 flex-fill">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            {% include 'component/flash.html.twig' %}

                            <div class="card">
                                {% if block('header') is defined %}
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            {% block header %}{% endblock %}
                                        </h3>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
    {% endblock body %}
</html>
