{% extends "base.html.twig" %}

{% block page %}
<div class="content-page">
    <main class="container my-4 flex-fill">

        {% include 'component/flash.html.twig' %}

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title flex-grow-1">Proxy</h3>
                    </div>
                    <div class="card-body">
                        <p>Repman work as proxy for packagist.org (speeds up your local builds). To speed up your build use this composer plugin:</p>
                        <div class="highlight">
        <pre>
composer global require repman-io/composer-plugin</pre>
                        </div>

                        <p>or add this lines to your composer.json file:</p>

                        <div class="highlight">
        <pre>
{
    "repositories": [
        {"type": "composer", "url": "{{ url('proxy_repo_url') | trim('/') }}"},
        {"packagist": false}
    ]
}</pre></div>

                        <p>and then update composer.lock file:</p>

                        <div class="highlight">
        <pre>
composer update --lock</pre></div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title flex-grow-1">Organizations</h3>
                    </div>
                    <div class="card-body">
                        <p>Organizations allow you to organize your private packages and access to them.</p>
                        {% if app.user.organizations.empty %}
                            <a href="{{ path('organization_create') }}" class="btn btn-green">Create a new organisation</a>
                        {% else %}
                            <p>Please select organisation:</p>
                            <ul>
                            {% for org in app.user.organizations %}
                                <li><a href="{{ url('organization_overview', {"organization": org.alias}) }}">
                                    {{ org.name }}
                                </a></li>
                            {% endfor %}
                            </ul>

                            <p><a href="{{ path('organization_create') }}">Create a new organisation</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock page %}
