{% extends "base.html.twig" %}

{% block page %}
<div class="content-page">
    <main class="container my-4 flex-fill">
        {% include 'component/flash.html.twig' %}

        {% if is_granted('ROLE_ADMIN') and showTelemetryPrompt %}
            {% include 'component/telemetryPrompt.html.twig' %}
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title flex-grow-1">Proxy</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Repman works as a proxy for packagist.org, speeding up your local builds. To speed up your build, use this Composer plugin:
                        </p>
                        <div class="highlight">
                            <pre>composer global require repman-io/composer-plugin</pre>
                        </div>

                        <p>You can also add these lines to your composer.json file:</p>

                        <div class="highlight">
<pre>
{
    "repositories": [
        {"type": "composer", "url": "{{ url('proxy_repo_url') | trim('/') }}"},
        {"packagist": false}
    ]
}
</pre>
                        </div>
                        <p>The last step is updating composer.lock:</p>
                        <div class="highlight">
                            <pre>composer update --lock</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title flex-grow-1">Organizations</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Organizations allow you to manage your private packages and the access to them.
                        </p>
                        {% if not app.user.belongsToAnyOrganization %}
                            <a href="{{ path('organization_create') }}" class="btn btn-green">Create a new organization</a>
                        {% else %}
                            <ul>
                            {% for org in app.user.organizations %}
                                <li><a href="{{ url('organization_overview', {"organization": org.alias}) }}">
                                    {{ org.name }}
                                </a></li>
                            {% endfor %}
                            </ul>
                            <p>
                                <a href="{{ path('organization_create') }}">Create a new organization</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock page %}
