{% extends "base.html.twig" %}

{% block header %}Organizations{% endblock %}

{% block content %}
<div class="markdown">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Owner</th>
                <th>Packages</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
                <tr>
                    <td>{{ organization.name }}</td>
                    <td>{{ organization.alias }}</td>
                    <td>{{ organization.ownerEmail }}</td>
                    <td>{{ organization.packagesCount }}</td>
                    <td>
                        <button
                            class="btn btn-danger btn-sm"
                            type="button"
                            data-target="confirmation"
                            data-action="{{ path('admin_organization_remove', {organization: organization.alias }) }}"
                            data-method="DELETE"
                        >
                            Remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'component/pagination.html.twig' with {'path_name': 'admin_organization_list'} %}
</div>
{% endblock %}
