{% extends "base.html.twig" %}

{% block header_btn %}
    <a href="{{ path('organization_members', {"organization":organization.alias}) }}" class="btn btn-primary">
        {% include 'svg/users.svg' %} Back to members
    </a>
{% endblock %}
{% block header %} {{ organization.name }} invitations:{% endblock %}

{% block content %}

<div class="markdown">
    <table class="table">
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for invitation in invitations %}
                <tr>
                    <td>{{ invitation.email }}</td>
                    <td>{{ invitation.role }}</td>
                    <td>
                        <button
                                class="btn btn-danger btn-sm"
                                type="submit"
                                data-target="confirmation"
                                data-action="{{ path('organization_remove_invitation', {organization: organization.alias, token: invitation.token}) }}"
                                data-method="DELETE"
                        >
                            Remove
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">currently no invitations</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'component/pagination.html.twig' with {'path_name': 'organization_invitations', 'path_params': {'organization': organization.alias}} %}
</div>
{% endblock %}
