{% extends 'base.html.twig' %}

{% block header %}Package: {{ package.name }} webhook{% endblock %}
{% block header_btn %}
    <a href="{{ path('organization_packages', {"organization":organization.alias}) }}" class="btn btn-primary">
        Package list
    </a>
{% endblock %}

{% block content %}

    <p>Webhook allows for automatic package synchronization.
        For packages added from GitHub, GitLab or Bitbucket, the webhook is added automatically.
        In other cases, you can configure it manually.
    </p>

    <p>
        <strong>Webhook status</strong>:
        {% if package.allowToAutoAddWebhook %}
            {% if package.webhookCreatedAt is not null %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><polyline points="20 6 9 17 4 12"></polyline></svg>
                created at {{ package.webhookCreatedAt | date('Y-m-d H:i:s') }}
            {% else %}
                not added
            {% endif %}
            <a
                    href="#"
                    class="btn btn-sm {{ package.webhookCreatedAt ? 'btn-secondary' : 'btn-yellow' }}"
                    data-target="confirmation"
                    data-action="{{ path('organization_package_webhook', {organization: organization.alias, package: package.id }) }}"
                    data-method="POST"
            >Synchronize webhook</a>
        {% else %}
            unable to automatically add a webhook, please add it manually
        {% endif %}
    </p>

    <p>To manually configure the webhook, all you have to do is make a POST request to the url below.</p>

    <p><strong>Webhook URL [POST]:</strong></p>

    <div class="row mb-4">
        <div class="input-group col-6">
            <input id="webhook" type="text" class="form-control" readonly value="{{ url('package_webhook', {package: package.id}) }}" />
            <span class="input-group-append">
              <button data-clipboard-target="#webhook" class="copy-to-clipboard btn btn-primary p-2" type="button" title="Copy to clipboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-md m-0"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
              </button>
            </span>
        </div>
    </div>

    <p>
        Each time a Repman receives this type of request, the package will start synchronizing.
        The synchronization result will be visible on your organization's package list.
    </p>



    <h3>Recent requests</h3>

    {% if recentRequests is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>IP</th>
                <th>User agent</th>
            </tr>
            </thead>
            <tbody>
            {% for request in recentRequests %}
                <tr>
                    <td>{{ request.date }}</td>
                    <td>{{ request.ip | default('n/a') }}</td>
                    <td>{{ request.userAgent | default('n/a') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No requests have been made at this time</p>
    {% endif %}

{% endblock %}
