{% extends "base.html.twig" %}

{% block header %}Profile{% endblock %}

{% block content %}

{% if not app.user.isEmailConfirmed %}
    <h3>Verify your email address</h3>
    <div class="row">
        <div class="col-6">
            <p>Please click the activation link for <strong>{{ app.user.email }}</strong> to verify your email.</p>
        </div>
        <div class="col-3 text-right">
            <button
                    class="btn btn-warning"
                    type="button"
                    data-target="confirmation"
                    data-action="{{ url('user_resend_verification') }}"
                    data-method="POST"
            >
                Resend verification email
            </button>
        </div>
    </div>
    <hr/>
{% endif %}

<h3>OAuth</h3>
{% if oauth_tokens is empty %}
    <div class="row">
        <div class="col">No linked accounts.</div>
    </div>
{% endif %}
{% for token in oauth_tokens %}
    <div class="row">
        <div class="col-6">
            <p>Linked to <strong>{{ token.type|capitalize }}</strong> since <strong>{{ token.createdAt|date('Y-m-d H:i:s')}}</strong>.</p>
        </div>
        <div class="col-3 text-right">
            <button
                    class="btn btn-danger"
                    type="button"
                    data-target="confirmation"
                    data-action="{{ url('user_remove_oauth_token', {"type": token.type}) }}"
                    data-method="DELETE"
            >
                Unlink {{ token.type|capitalize }}
            </button>
        </div>
    </div>
{% endfor %}
<hr/>

<h3>Change password</h3>
<div class="row">
    <div class="col-md-6 col-lg-4">
        {{ form(form) }}
        <a href="{{ path('app_send_reset_password_link') }}" class="float-right" style="margin-top: -2em;">I forgot my password</a>
    </div>
</div>

<hr/>

<h3>Delete Account</h3>
<div class="row">
    <div class="col-6">
        <p>
            This action is irreversible. All your data (organizations, packages, tokens etc.) will be permanently deleted.
        </p>
    </div>
    <div class="col-3 text-right">
        <button
            class="btn btn-danger"
            type="button"
            data-target="confirmation"
            data-action="{{ url('user_remove') }}"
            data-method="DELETE"
        >
            Delete Account
        </button>
    </div>
</div>
{% endblock %}
